<div class="card" [formGroup]="formData">
  <div class="card-header">FILTROS</div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-5">
        <div [formGroup]="formPeca">
          <app-loading-spinner *ngIf="!pecasCarregadas"></app-loading-spinner>
          <mat-form-field class="filtro-label" *ngIf="pecasCarregadas">
            <mat-label>Peça</mat-label>
            <mat-select formControlName="peca">
              <mat-option [value]="peca.id" *ngFor="let peca of pecas">{{ peca.nome }}</mat-option>
            </mat-select>
          </mat-form-field><br>
        </div>
        <app-loading-spinner *ngIf="!clientesCarregados"></app-loading-spinner>
        <mat-form-field class="filtro-label" *ngIf="clientesCarregados">
          <mat-label>Cliente</mat-label>
          <mat-select formControlName="cliente">
            <mat-option [value]="cliente.metaDados.id" *ngFor="let cliente of clientes">
              {{ cliente.infoPrincipais.nome }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-5">
        <mat-form-field class="filtro-label">
          <mat-label class="col-form-label">Data Inicial</mat-label>
          <input matInput [matDatepicker]="inicial" formControlName="dataInicial">
          <mat-datepicker-toggle matSuffix [for]="inicial"></mat-datepicker-toggle>
          <mat-datepicker #inicial></mat-datepicker>
        </mat-form-field><br>
        <mat-form-field class="filtro-label">
          <mat-label class="col-form-label">Data Final</mat-label>
          <input matInput [matDatepicker]="final" formControlName="dataFinal">
          <mat-datepicker-toggle matSuffix [for]="final"></mat-datepicker-toggle>
          <mat-datepicker #final></mat-datepicker>
        </mat-form-field><br>
      </div>
      <div class="cols-sm-2">
        <button mat-raised-button color="warn" (click)="limparFiltros()" class="mb-4">
          <mat-icon>clear</mat-icon> Limpar
        </button><br>
      </div>
    </div>
  </div>
</div>